[Unit]
Description=DFPlayer Mini control daemon
After=dev-ttyAMA0.device
Requires=dev-ttyAMA0.device

[Service]
ExecStart=/usr/bin/dfplayer-ctl -d /dev/ttyAMA3 play
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
